.add_btn{
    text-align: right;
}
.container{
    overflow: auto;
}
.laft_side h3{
    font-size: 21px;
    
}
.laft_side p{
    font-size: 600;
    
}
.laft_side spam{
    font-size: 600;
    
}
.Wright_side h3{
    font-size: 21px;
    
}
